/winograd-venv/

/.envrc

/data/
/logs/
/overleaf/
/plot/
/test/

__pycache__/
*.egg-info/
*.egg-info

/backend/openfhe/build/
/backend/openfhe/.cache/
/backend/openfhe/bindings/python/build/

/clear/data/
/clear/resnet34/
